<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.absensi">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"></uses-permission>

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front.autofocus"
        android:required="false" />

    <application
        android:name=".common.GlobalClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon">
        <activity android:name=".view.activity.IntroActivity" />
        <activity android:name=".view.activity.TestActivity"/>
        <activity
            android:name=".view.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".view.activity.RegisterActivity" />
        <activity android:name=".view.activity.LoginActivity" />
        <activity android:name=".view.Main2Activity" />
        <activity
            android:name=".view.FaceDetectionActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.CameraActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="face" />

        <activity
            android:name=".view.activity.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.DetectionActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.FullScreen"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.AddPersonPreviewActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.FullScreen"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".view.activity.TrainingActivity" />
        <activity
            android:name=".view.activity.RecognitionActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.FullScreen"
            tools:ignore="LockedOrientationActivity" />
    </application>

</manifest>